<!DOCTYPE html>
<html>
<head>
    <title>404 not found</title>
	<meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<p>404 not found</p>
</body>
</html>