<!DOCTYPE html>
<html>
<head>
    <title><%= name %></title>
	<meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="" method="post" target="_blank">
<input name = "name" value="test" />
<button type="submit">确定</button>
</form>
</body>
</html>